.success{
    color : white;
    background-color: green;

}
.error{
    color : white;
    background-color: red;

}
.info{
    color : white;
    background-color: blue;

}
.warning{
    color : white;
    background-color: orange;

}
